---
title: Desempenho de Atletas 2017 
---
<div class="container">
  </div>
  <div class="project-container">
    <h1>Atletismo</h1>
    <p>Época 2017 - 2018...</p>
    <br><center>
    <a href="#"><span class="label label-danger light">Provas de Atletismo </span></a>
    <a href="atletas.html"><span class="label label-danger light">Atletas </span></a>
    <a href="#"><span class="label label-danger light">Miscelanea </span></a></center>
  </div>
      <div id="article" class="fashion">

      <h1> Bem vindo ao nosso blog!</h1>

      <figure>
        <img src="{{ '/images/scrd.png' | prepend: site.baseurl }}" alt="" width="200px" height="200px">

      </figure>

      <hr/>
      <h1> Conheça as nossas páginas da web:</h1>

      <h3><a href="https://www.youtube.com/channel/UC5ZjSrOJOXa_WtWV_K2o7xw" target="youtube"> Sporting CRD (YouTube)</a></h3>
      <h3><a href="https://www.facebook.com/sportingcrd.scrd" target="facebook"> Sportingcrd Crd(Facebook)</a></h3>
      <h3><a href="https://www.facebook.com/Sporting-Clube-da-Reboleira-e-Damaia-160702380729326/" target="facebook"> Sporting clube da Reboleira e Damaia(Facebook)</a></h3>
      <h3><a href="http://screboleiradamaia.wixsite.com/sportingcrd/" target="facebook"> Academia(Wix)</a></h3>
      <h3><a href="http://bambuser.com/channel/SportingCRD" target="facebook"> Bambuser(Canal ao vivo)</a></h3>
      <hr/>
      </div>

      <div id="article" class="fashion">
        <h1>Benjamins!</h1>
        <hr/>

        <h2>Benjamins A</h2>
        <hr/>
        <h4>Femininos!</h4>

        <!-- Clara Tomé começa aqui -->
        <hr/>
        <figure>
          <img src="{{ '/images/atletas/clara_tome.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Clara Tomé!</figcaption>
        </figure>
        <a href="desempenho/clara_tome.html" target="_blank">Saiba mais...</a>
        <hr/>
        

      <!-- Clara Tomé acaba aqui -->
        <hr/>



        <h4>Masculinos!</h4>

        <!-- Marco Conceição começa aqui -->
        <hr/>
        <figure>
          <img src="{{ '/images/atletas/marco_conceicao.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Marco Conceição!</figcaption>
        </figure>
        <a href="desempenho/marco_conceicao.htm" target="_blank">Saiba mais...</a>
        <hr/>
       
          <!-- Marco Conceição acaba aqui -->


        <h2>Benjamins B</h2>
        <hr/>

        <h4>Femininos!</h4>
        <hr/>

        <!-- Claudia Vinagre começa aqui -->

        <figure>
        	<img src="{{ '/images/atletas/claudia_vinagre.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
        	<figcaption>Fig.- Claudia Vinagre!</figcaption>
        </figure>
        <a href="desempenho/claudia_vinagre.html" target="_blank">Saiba mais...</a>
        <hr/>
      
          <!-- Claudia Vinagre acaba aqui -->
        <hr/>

        <!-- Cristina Teixeira começa aqui -->

        <figure>
        	<img src="{{ '/images/atletas/cristina_teixeira.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
        	<figcaption>Fig.- Cristina Teixeira!</figcaption>
        </figure>
        <a href="desempenho/cristina_teixeira.html" target="_blank">Saiba mais...</a>
        <hr/>
     
          <!-- Cristina Teixeira acaba aqui -->

        <h4>Masculinos!</h4>
        <hr/>

        <h1>Infantis!</h1>
        <hr/>

        <h4>Femeninos!</h4>


        <!-- Bruna Rocha começa aqui -->
        <hr/>
        <figure>
        	<img src="{{ '/images/atletas/bruna_rocha.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
        	<figcaption>Fig.- Bruna Rocha!</figcaption>
        </figure>
        <a href="desempenho/bruna_rocha.html" target="_blank">Saiba mais...</a>
        <hr/>
       

        <!-- Bruna Rocha acaba aqui -->
        <hr/>




         <!-- Rafaela Santos começa aqui -->
        <hr/>
        <figure>
          <img src="{{ '/images/atletas/rafaela_santos.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Rafaela Santos!</figcaption>
        </figure>
        <a href="desempenho/rafaela_santos.html" target="_blank">Saiba mais...</a>
        <hr/>
     

        <!-- Rafaela Santos acaba aqui -->
        <hr/>


        <!-- Maria Custódio começa aqui -->
        <hr/>
        <figure>
          <img src="{{ '/images/atletas/maria_custodio.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Maria Custódio!</figcaption>
        </figure>
        <a href="desempenho/maria_custodio.htm" target="_blank">Saiba mais...</a>
        <hr/>
      

      <!-- Maria Custódio acaba aqui -->
        <hr/>



        <h4>Masculinos!</h4>
        <hr/>
        <!-- Carlos Valente começa aqui -->

        <figure>
        	<img src="{{ '/images/atletas/carlos_valente.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
        	<figcaption>Fig.- Carlos Valente!</figcaption>
        </figure>
        <a href="desempenho/carlos_ valente.html" target="_blank">Saiba mais...</a>
        <hr/>
     
        <hr/>




        <!-- Herminio Tome começa aqui -->

        <figure>
          <img src="{{ '/images/atletas/herminio_tome.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Hermínio Tomé!</figcaption>
        </figure>
        <a href="desempenho/herminio_tome.html" target="_blank">Saiba mais...</a>
        <hr/>
       
        <!-- Herminio Tome acaba aqui -->
        <hr/>



        <!-- Tiago Djau começa aqui -->

        <figure>
          <img src="{{ '/images/atletas/tiago_djau.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Tiago Djau!</figcaption>
        </figure>
        <a href="desempenho/tiago_djau.html" target="_blank">Saiba mais...</a>
        <hr/>
     
        <!-- Tiago Djau acaba aqui -->
        <hr/>




        <h1>Iniciados!</h1>
        <hr/>

        <h4>Femeninos!!</h4>
        <hr/>

          <!-- Ana Barros começa aqui -->
        <figure>
        	<img src="{{ '/images/atletas/ana_catarina_barros.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
        	<figcaption>Fig.- Ana Catarina Barros!</figcaption>
        </figure>
        <a href="desempenho/ana_catarina_barros.html" target="_blank">Saiba mais...</a>
        <hr/>
       
          <!-- Ana Barros acaba aqui -->
        <hr/>



        <!-- Bruna Reis começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/bruna_reis.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Bruna Reis!</figcaption>
        </figure>
        <a href="desempenho/bruna_reis.html" target="_blank">Saiba mais...</a>
        <hr/>
      
        <!-- Bruna Reis acaba aqui -->
        <hr/>


       <!--Érica Fonseca começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/erica_fonseca.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Érica Fonseca!</figcaption>
        </figure>
        <a href="desempenho/erica_fonseca.html" target="_blank">Saiba mais...</a>
        <hr/>
     
        <hr/>


        <!-- Jéssica Pinto começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/jessica _pinto.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Jéssica Pinto!</figcaption>
        </figure>
        <a href="desempenho/jessica _pinto.html" target="_blank">Saiba mais...</a>
      
        <!-- Jéssica Pinto acaba aqui -->
        <hr/>


         <!-- Luana Solé começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/luana_sole.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Luana Solé!</figcaption>
        </figure>
        <a href="desempenho/luana_sole.html" target="_blank">Saiba mais...</a>
        <hr/>
     
        <!-- Luana Solé acaba aqui -->
        <hr/>



          <!-- Márcia Rosário começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/marcia_rosario.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Márcia Rosário!</figcaption>
        </figure>
        <a href="desempenho/marcia_rosario.html" target="_blank">Saiba mais...</a>
        <hr/>
       
        <!-- Márcia Rosário acaba aqui -->
        <hr/>


          <!-- Núria Gomes começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/nuria_gomes.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Núria Gomes!</figcaption>
        </figure>
        <a href="desempenho/nuria_gomes.html" target="_blank">Saiba mais...</a>
        <hr/>
       
        <!-- Núria Gomes acaba aqui -->
        <hr/>




        <h4>Masculinos!</h4>
        <hr/>

         <!-- Diogo Bragança começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/diogo_braganca.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Diogo Bragança!</figcaption>
        </figure>
        <a href="desempenho/diogo_braganca.html" target="_blank">Saiba mais...</a>
        <hr/>
    
        <!-- Diogo Bragança acaba aqui -->
        <hr/>



         <!-- Edgar Osório começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/edgar_osorio.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Edgar Osório!</figcaption>
        </figure>
        <a href="desempenho/edgar_osorio.html" target="_blank">Saiba mais...</a>
        <hr/>
        
        <!-- Edgar Osório acaba aqui -->
        <hr/>


        <!-- Euclides Fortes começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/euclides _fortes.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Euclides Fortes!</figcaption>
        </figure>
        <a href="desempenho/euclides _fortes.html" target="_blank">Saiba mais...</a>
        <hr/>
       
        <!-- Euclides Fortes acaba aqui -->
        <hr/>



        <!-- Jonathan Rosa começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/jonathan_rosa.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Jonathan Rosa!</figcaption>
        </figure>
        <a href="desempenho/jonathan_rosa.html" target="_blank">Saiba mais...</a>
        <hr/>
      
        <!-- Jonathan Rosa acaba aqui -->
        <hr/>



         <!-- Jorge Teixeira começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/jorge_teixeira.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Jorge Teixeira!</figcaption>
        </figure>
        <a href="desempenho/jorge_teixeira.html" target="_blank">Saiba mais...</a>
        <hr/>
      
        <!-- Jorge Teixeira acaba aqui -->
        <hr/>


         <!-- José Semedo começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/jose_semedo.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- José Semedo!</figcaption>
        </figure>
        <a href="desempenho/jose_semedo.html" target="_blank">Saiba mais...</a>
        <hr/>
      
        <!-- José Semedo acaba aqui -->
        <hr/>






        <h1>Juvenis!</h1>
        <hr/>



        <h4>Femeninos!</h4>
        <hr/>



        <!-- Beatrinz Martins começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/beatriz_martins.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Beatriz Martins!</figcaption>
        </figure>
        <a href="desempenho/beatriz_martins.html" target="_blank">Saiba mais...</a>
        <hr/>
      
        <!-- Beatrinz Martins acaba aqui -->
        <hr/>



        <!-- Ines Lopes começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/ines_lopes.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Inês Lopes!</figcaption>
        </figure>
        <a href="desempenho/ines_lopes.html" target="_blank">Saiba mais...</a>
        <hr/>
       
        <!-- Ines Lopes acaba aqui -->
        <hr/>

        <!-- Ines Pinto começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/ines_pinto.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Inês Pinto!</figcaption>
        </figure>
        <a href="desempenho/ines_pinto.html" target="_blank">Saiba mais...</a>
        <hr/>
        
        <!-- Ines Pinto acaba aqui -->
        <hr/>


        <!-- Leila Semedo começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/leila_semedo.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Leila Semedo!</figcaption>
        </figure>
        <a href="desempenho/leila_semedo.html" target="_blank">Saiba mais...</a>
        <hr/>
      
        <!-- Leila Semedo  acaba aqui -->
        <hr/>


        <h4>Masculinos!</h4>
        <hr/>



          <!-- Antonio Teixeira começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/antonio_teixeira.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Antonio Teixeira!</figcaption>
        </figure>
        <a href="desempenho/antonio_teixeira.html" target="_blank">Saiba mais...</a>
        <hr/>
       
        <!-- Antonio Teixaeirs acaba aqui -->
        <hr/>


          <!-- Ivan Brito começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/ivan_brito.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Ivan Brito!</figcaption>
        </figure>
        <a href="desempenho/ivan_brito.html" target="_blank">Saiba mais...</a>
        <hr/>
       
        <!-- Ivan Brito acaba aqui -->
        <hr/>



          <!-- Leandro Fernandes começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/leandro_fernandes.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Leandro Fernandes!</figcaption>
        </figure>
        <a href="desempenho/leandro_fernandes.html" target="_blank">Saiba mais...</a>
        <hr/>
   
        <!-- Leandro Fernandes acaba aqui -->
        <hr/>



        <h1>Juniores!</h1>
        <hr/>


        <h4>Femeninos!</h4>
        <hr/>


        <h4>Masculinos!</h4>
        <hr/>

        <!-- Cristiano Borges começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/cristiano_borges.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Cristiano Borges!</figcaption>
        </figure>
        <a href="desempenho/cristiano_borges.html" target="_blank">Saiba mais...</a>
        <hr/>
      
        <!-- Cristiano Borges acaba aqui -->
        <hr/>



        <!-- Elvis Fortes começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/elvis_fortes.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Elvis Fortes!</figcaption>
        </figure>
        <a href="desempenho/elvis_fortes.html" target="_blank">Saiba mais...</a>
        <hr/>
    
        <!-- Elvis Fortes acaba aqui -->
        <hr/>


        <!-- Pedro Semedo começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/pedro_semedo.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Pedro Semedo!</figcaption>
        </figure>
        <a href="desempenho/pedro_semedo.html" target="_blank">Saiba mais...</a>
        <hr/>
       
        <!-- Pedro Semedo acaba aqui -->
        <hr/>


        <h1>Seniores!</h1>
        <hr/>


        <h4>Femeninos!</h4>
        <hr/>





        <h5>Veteranos 40</h5>
        <hr/>

        <!-- Paula Silva começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/paula_silva.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Paula Silva!</figcaption>
        </figure>
        <a href="desempenho/paula_silva.html" target="_blank">Saiba mais...</a>
        <hr/>
   
        <!--  Paula Silva acaba aqui -->
        <hr/>






        <h5>Veteranos 65</h5>
        <hr/>

        <!-- Maria de Fátima Abreu começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/maria_abreu.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Maria de Fátima Abreu!</figcaption>
        </figure>
        <a href="desempenho/maria_abreu.html" target="_blank">Saiba mais...</a>
        <hr/>
      
        <!--  Maria de Fátima Abreu acaba aqui -->
        <hr/>



        <h4>Masculinos!</h4>
        <hr/>


        <h5>Veteranos 45</h5>
        <hr/>

          <!-- Paulo Carvalho começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/paulo_carvalho.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Paulo Carvalho!</figcaption>
        </figure>
        <a href="desempenho/paulo_carvalho.html" target="_blank">Saiba mais...</a>
        <hr/>
       
        <!-- Paulo Carvalho acaba aqui -->
        <hr/>


        <h5>Veteranos 50</h5>
        <hr/>

          <!-- Elias Fortes começa aqui -->
        <figure>
          <img src="{{ '/images/atletas/elias_fortes.png' | prepend: site.baseurl }}" width="500px" height="500px" alt="atletas">
          <figcaption>Fig.- Elias Fortes!</figcaption>
        </figure>
        <a href="desempenho/elias_fortes.html" target="_blank">Saiba mais...</a>
        <hr/>
        
        <!-- Elias Fortes acaba aqui -->
        <hr/>


      {% include share.html %}
      {% include pager.html %}
      {% include comment.html %}
      </div>
