---
title: Futebol
---
<div class="container">

    </div>
    <div class="project-container">
      <h1>Futebol</h1>
      <p>Alguns projectos em que o clube se encontra envolvido de momento...</p>
      <br><center>
      <a href="futebol.html"><span class="label label-danger">Futebol</span></a>
      <a href="resultados_de_jogos.html"><span class="label label-danger light">Resultados</span></a>
      <a href="futebol_photos_gallery.html"><span class="label label-danger light">Galeria</span></a></center>
    </div>
    <div class="container">
      <div class="project-box">
        <div class="row">
          <div class="col-md-3 project-image">
            <img src="{{ '/images/scrd.png' | prepend: site.baseurl }}" alt="" width="200px" height="125px">
          </div>
          <div class="col-md-9 project-post">
            <h1>Sporting Clube da Reboleira e Damaia | Época de 2017 - 2018 </h1><h4> Começo de Época!</h4>
            <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 18-09-2017</small></p><hr/>
            <div class="post">
            <h2>O Sporting Clube da Reboleira e Damaia vem por este meio, informar que vai ter o inicio, a época de Futebol 2017/ 2018.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="project-box">
        <div class="row">
          <div class="col-md-3 project-image">
              <img src="{{ '/images/site_images/calendario.jpg' | prepend: site.baseurl }}" alt="" width="200px" height="125px">
          </div>
          <div class="col-md-9 project-post">
            <h1>Calendário de Jornadas</h1><h4> Organigrama</h4>
            <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 20-09-2017</small></p><hr/>
            <div class="post">
              <h1>Visite aqui a página do Inatel</h2>
              <h2></h2>
              <h3></h3>
              <a href="http://ligafutebol11inatel.torneopal.com/taso/joukkue.php?joukkue=15692" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>Veja aqui o Organigrama de Jornadas</h2>
              <h2>Faça click no link para ver online </h2>
              <h3></h3>
              <a href="futebol/calendario.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>Sporting C. Reboleira Damaia x C.C.D. Vale Milhaços</h2>
              <h2>7 e 8 Out 2017 | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>A.D.C Recreio Arados	x	Sporting C. Reboleira Damaia</h2>
              <h2>14 e 15 Out 2017 | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>Sporting C. Reboleira Damaia	x	Clube Petrogal</h2>
              <h2>21 e 22 Out 2017 | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>G.R.D. Bragadense	x	Sporting C. Reboleira Damaia</h2>
              <h2>4 e 5 Nov 2017 | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>Sporting C. Reboleira Damaia	x	G.D.R. Brejos Roussada</h2>
              <h2>18 e 19 Nov 2017 | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>C.R.D. Arrudense	x	Sporting C. Reboleira Damaia	</h2>
              <h2>25 e 26 Nov 2017 | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>Sporting C. Reboleira Damaia	x	isento	</h2>
              <h2>09 e 10 Dez 2017  | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>CPT Bairro S. João AC	x	Sporting C. Reboleira Damaia	</h2>
              <h2>16 e 17 Dez 2017  | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>Sporting C. Reboleira Damaia	x	G.D. Terras da Costa	</h2>
              <h2>06 e 07 Jan 2017  | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>C.C.D. Vale Milhaços x	Sporting C. Reboleira Damaia	</h2>
              <h2>13 e 14 Jan 2017  | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>Sporting C. Reboleira Damaia	x	A.D.C Recreio Arados	</h2>
              <h2>27 e 28 Jan 2017  | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>Clube Petrogal	x	Sporting C. Reboleira Damaia	</h2>
              <h2>03 e 04 Fevereiro 2017  | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>Sporting C. Reboleira Damaia	x	G.R.D. Bragadense	</h2>
              <h2>17 e 18 Fevereiro 2017  | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>G.D.R. Brejos Roussada	x	Sporting C. Reboleira Damaia	</h2>
              <h2>24 e 25 Fevereiro 2017 | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>Sporting C. Reboleira Damaia	x	C.R.D. Arrudense	</h2>
              <h2>10 e 11 Março 2017 | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>isento	x	Sporting C. Reboleira Damaia	</h2>
              <h2>24 e 25 Março 2017 | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>Sporting C. Reboleira Damaia	x	CPT Bairro S. Joao AC	</h2>
              <h2>07 e 08 Abril 2017 | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
            <div class="post">
              <h1>G.D. Terras da Costa	x	Sporting C. Reboleira Damaia	</h2>
              <h2>21 e 22 Abril 2017 | Sáb-Dom</h2>
              <h3></h3>
              <a href="futebol/jornadas.htm" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      {% include share.html %}
      {% include comment.html %}
