---
title: Noticias 
---
  <div class="container">
  </div>
  <div class="project-container">
    <h1>Notícias</h1>
    <p>Alguns projectos em que o clube se encontra envolvido de momento...</p>
    <br><center>
    <a href="news.html"><span class="label label-danger">Atletismo</span></a>
    <a href="futebol-news.html"><span class="label label-danger light">Futebol</span></a>
    <a href="cultura-news.html"><span class="label label-danger light">Cultura</span></a></center>
  </div>
  <div class="container">
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
          <img src="{{ '/images/scrd.png' | prepend: site.baseurl }}" alt="" width="200px" height="125px">
        </div>
        <div class="col-md-9 project-post">
          <h1>Sporting Clube da Reboleira e Damaia | Época de 2017 - 2018 </h1><h4> Começo de Época!</h4>
          <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 18-09-2017</small></p><hr/>
          <div class="post">
          <h2>O Sporting Clube da Reboleira e Damaia vem por este meio, informar que vai ter o inicio, a época de Atletismo 2017/ 2018.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
            <img src="{{ '/images/site_images/calendario.jpg' | prepend: site.baseurl }}" alt="" width="200px" height="125px">
        </div>
        <div class="col-md-9 project-post">
          <h1>Calendário de Provas</h1><h4> Organigrama</h4>
          <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 20-09-2017</small></p><hr/>
          <div class="post">
            <h1>15ª- Corrida do Fragateiro</h2>
            <h2>23 Set 2017, Sábado </h2>
            <h3>Frente à Junta de Freguesia de Sarilhos Pequenos!</h3>
            <a href="provas_de_atletismo.html"><span class="label label-success">Saiba mais aqui...</span></a>
          </div>
          <div class="post">
            <h1>Circuito de Atletismo do Barreiro</h2>
            <h2>05 Out 2017, Quinta-Feira </h2>
            <h3>Parque da Cidade!</h3>
            <a href="provas_de_atletismo.html"><span class="label label-success">Saiba mais aqui...</span></a>
          </div>
          <div class="post">
            <h1>2ª CORRIDA DE AGRADECIMENTO AO DADOR</h2>
            <h2>01 NOV 2017, Quarta-Feira </h2>
            <h3>Parque das Nações!</h3>
            <a href="provas_de_atletismo.html"><span class="label label-success">Saiba mais aqui...</span></a>
          </div>
          <div class="post">
            <h1>3ª Corrida Jovem +, e Mulheres em Speed!</h2>
            <h2>11 NOV 2017, Sábado  </h2>
            <h3>Entre as 10h00m da manhã e 12h30m, na Mata Da Madre De Deus-Lisboa!</h3>
            <a href="provas_de_atletismo.html"><span class="label label-success">Saiba mais aqui...</span></a>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    {% include share.html %}
    {% include comment.html %}
