---
title: Provas de Atletismo
---
<div class="container">
  </div>
  <div class="project-container">
      <h1>Atletismo</h1>
      <p>Época 2017 - 2018 | Provas de Atletismo</p>
      <br><center>
        <a href="atletismo.html"><span class="label label-danger">Atletismo</span></a>
        <a href="provas_de_atletismo.html"><span class="label label-danger light">Provas</span></a>
        <a href="jose_duarte.html"><span class="label label-danger light">José Duarte</span></a>
        <a href="classificacoes_2017_2018.html"><span class="label label-danger light">Classificações</span></a></center>
  </div>
  <div class="container">
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
          <img src="{{ '/images/epoca2017-2018/15provafragateiro/15provafragateiro.jpg' | prepend: site.baseurl }}" alt="15 prova fragateiro" width="200px" height="125px">
        </div>
        <div class="col-md-9 project-post">
          <h1>15ª- Corrida do Fragateiro </h1><h4> </h4>
          <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 23-07-2017</small></p><hr/>
          <div class="post">
          <h2>23 Set 2017, Sábado </h2>
          <h3>Frente à Junta de Freguesia Sarilhos Pequenos!</h3>
          <img src="{{ '/images/epoca2017-2018/15provafragateiro/15provafragateiro.jpg' | prepend: site.baseurl }}" alt="15provafragateiro" width="1000px" height="600px">
          <a href="http://www.cm-moita.pt/frontoffice/pages/1235?event_id=1140" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
          </div>
        </div>
        <div class="col-md-9 project-post">
          <h1>Lista de Atletas que vão participar na prova! </h1><h4> </h4>
          <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i></small></p><hr/>
          <div class="post">
          <img src="{{ '/fragateiro/fragateiro_inscricoes.jpg' | prepend: site.baseurl }}" alt="fragateiro_inscricoes" width="500px" height="250px">
          <a href="fragateiro/fragateiro_inscricoes.htm" target="_blank"><span class="label label-success">Veja Melhor aqui...</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
          <img src="{{ '/images/epoca2017-2018/Circuito_Atletismo_Barreiro/Circuito_Atletismo_Barreiro.jpg' | prepend: site.baseurl }}" alt="1ª Prova Barreiro" width="200px" height="125px">
        </div>
        <div class="col-md-9 project-post">
          <h1>Circuito Atletismo Barreiro</h1><h4> </h4>
          <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 05-10-2017</small></p><hr/>
          <div class="post">
          <h2>05 Out 2017, Quinta-Feira </h2>
          <p>09h30 - <h3>1ª- Prova</h3> do Circuito de Atletismo do Barreiro!</p>
          <h3>Parque da Cidade</h3>
          <img src="{{ '/images/epoca2017-2018/Circuito_Atletismo_Barreiro/Circuito_Atletismo_Barreiro.jpg' | prepend: site.baseurl }}" alt="Circuito_Atletismo_Barreiro" width="700px" height="400px">
          <a href="http://www.cm-barreiro.pt/pages/1321l" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
          </div>
        </div>
        <div class="col-md-9 project-post">
          <h1>Lista de Atletas que vão participar na prova! </h1><h4> </h4>
          <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i></small>  </p><hr/>
          <div class="post">
          <img src="{{ '/1_prova/ScreenShot_20171001153953.png' | prepend: site.baseurl }}" alt="Simpson " width="1000px" height="750px">
          <a href="1_prova/1_prova.htm" target="_blank"><span class="label label-success">Veja Melhor aqui...</span></a>
          </div>
        </div>
      </div>
      <div class="project-box">
        <div class="row">
          <div class="col-md-3 project-image">
            <img src="{{ '/images/2_Corrida_dador/dador_poster.jpeg' | prepend: site.baseurl }}" alt="2_Corrida_&_ Caminhada_Solidária_de_Agradecimento_ao_Dador" width="200px" height="125px">
          </div>
          <div class="col-md-9 project-post">
            <h1>2ª CORRIDA DE AGRADECIMENTO AO DADOR</h1><h4> </h4>
            <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 16-10-2017</small></p><hr/>
            <div class="post">
            <h2>01 NOV 2017, Quarta-Feira </h2>
            <h3>Parque da Nações</h3>
            <p>A "Corrida & Caminhada Solidária de Agradecimento ao Dador", é um evento de natureza desportiva que se irá realizar no dia 01 de Novembro e se desenrolará no Parque das Nações.
              A Corrida & Caminhada Solidária de Agradecimento ao Dador tem como objectivo não só agradecer ao dador de órgãos e sensibilizar as pessoas para a doação de órgãos, mas sobretudo incentivar e consciencializar para a importância da prática de exercício físico na sua população específica e na população em geral.</p>

            <img src="{{ '/images/2_Corrida_dador/dador_poster.jpeg' | prepend: site.baseurl }}" alt="2_Corrida_&_ Caminhada_Solidária_de_Agradecimento_ao_Dador" width="700px" height="400px">
            <a href="http://werun.pt/eventos/2-corrida-caminhada-de-agradecimento-ao-dador-de-orgaos/" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
          </div>
        </div>
      </div>
      <div class="project-box">
        <div class="row">
          <div class="col-md-3 project-image">
            <img src="{{ '/images/Mulheres_em_Speed/file.jpg' | prepend: site.baseurl }}" alt="3ª Corrida Jovem +, e Mulheres em Speed" width="200px" height="125px">
          </div>
          <div class="col-md-9 project-post">
            <h1>3ª Corrida Jovem +, e Mulheres em Speed</h1><h4> </h4>
            <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 16-10-2017</small></p><hr/>
            <div class="post">
            <h2>08/11/2017(Sábado) </h2>
            <h3>10h00m da manhã  e 12h30m na Mata Da Madre De Deus-Lisboa!</h3>
            <p> Convívio de Atletismo no âmbito das comemorações do 3º Aniversário da EVELX - Associação de Estilos de Vida Saudável, e apenas para escalões de formação mais jovens e mulheres... </p>

            <img src="{{ '/images/Mulheres_em_Speed/file.jpg' | prepend: site.baseurl }}" alt="3ª Corrida Jovem +, e Mulheres em Speed" width="700px" height="400px">
            <a href="https://allevents.in/lisbon/3%C2%AA-corrida-jovem-e-mulheres-em-speed/946382668828918" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
          </div>
        </div>
      </div>
      <hr/>

      {% include share.html %}
      {% include comment.html %}
  </div>
