---
title: Resultados de Jogos
---
<div class="container">
    </div>
    <div class="project-container">
      <h1>Futebol</h1>
      <p>Alguns projectos em que o clube se encontra envolvido de momento...</p>
      <br><center>
      <a href="futebol.html"><span class="label label-danger">Futebol</span></a>
      <a href="resultados_de_jogos.html"><span class="label label-danger light">Resultados</span></a>

      <a href="futebol_photos_gallery.html"><span class="label label-danger light">Galeria</span></a></center>
    </div>
    <div class="container">
      <div class="project-box">
        <div class="row">
          <div class="col-md-3 project-image">
              <img src="{{ '/images/site_images/calendario.jpg' | prepend: site.baseurl }}" alt="" width="200px" height="125px">
          </div>
          <div class="col-md-9 project-post">
            <h1>1ª Jornada</h1><h4> Resultados</h4>
            <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 02-10-2017</small></p><hr/>
            <div class="post">
              <h1>C.C.D. Vale Milhaços x Sporting C. Reboleira Damaia</h2>
              <h2>7 e 8 Out 2017 | Sáb-Dom</h2>
              <h3>Resultado 1-0</h3>
              <a href="http://ligafutebol11inatel.torneopal.com/taso/ottelu.php?ottelu=90832" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
          </div>
          <div class="col-md-9 project-post">
            <h1>2º Jornada</h1><h4> Resultados</h4>
            <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 02-10-2017</small></p><hr/>
            <div class="post">
              <h1>A.D.C Recreio Arados	x	Sporting C. Reboleira Damaia</h2>
              <h2>14 e 15 Out 2017 | Sáb-Dom</h2>
              <h3>Resultado  2 - 1 </h3>
              <a href="http://ligafutebol11inatel.torneopal.com/taso/ottelu.php?ottelu=90823" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
          </div>
          <div class="col-md-9 project-post">
            <h1>3º Jornada</h1><h4> Resultados</h4>
            <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 25-10-2017</small></p><hr/>
            <div class="post">
              <h1>S C Reboleira Damaia	x	Clube Petrogal</h2>
              <h2>21.10.2017 | Sáb-Dom</h2>
              <h3>Resultado 0 - 1 </h3>
              <a href="http://ligafutebol11inatel.torneopal.com/taso/ottelu.php?ottelu=90814" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
          </div>
          <div class="col-md-9 project-post">
            <h1>4º Jornada</h1><h4> Resultados</h4>
            <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 07-11-2017</small></p><hr/>
            <div class="post">
              <h1>GRD Bragadense x	S C Reboleira Damaia</h1>
              <h2>5.11.2017 | Dom</h2>
              <h3>Resultado  2 - 4</h3>
              <a href="http://ligafutebol11inatel.torneopal.com/taso/ottelu.php?ottelu=90804" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
          </div>
          <div class="col-md-9 project-post">
            <h1>5º Jornada</h1><h4> Resultados</h4>
            <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 09-11-2017</small></p><hr/>
            <div class="post">
              <h1>Sporting C. Reboleira Damaia x G.D.R. Brejos Roussada</h1>
              <h2>18.11.2017 | Dom</h2>
              <h3>Resultado 2 - 4</h3>
              <a href="http://ligafutebol11inatel.torneopal.com/taso/ottelu.php?ottelu=90796" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
          </div>
          <div class="col-md-9 project-post">
            <h1>6º Jornada</h1><h4> Resultados</h4>
            <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 17-11-2017</small></p><hr/>
            <div class="post">
              <h1>CRD Arrudense x Sporting C. Reboleira Damaia</h1>
              <h2>26.11.2017 | Dom</h2>
              <h3>Resultado  - </h3>
              <a href="http://ligafutebol11inatel.torneopal.com/taso/ottelu.php?ottelu=90789" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      {% include share.html %}
      {% include comment.html %}
