</div>

    <section id="futebol" class="smoothScroll">
            <div class="project-container">
                <h1>Futebol</h1>
                <p>Secção de Futebol</p>
                <br><center></center>
                </div>
                <div class="container">
                <div class="project-box">
                    <div class="row">
                    <div class="col-md-3 project-image">

                        <figure>
                            <img src="{{ '/images/site_images/equipa_de_futebol.jpg' | prepend: site.baseurl }}" alt="Foto de taças do Clube" width="300px" height="125px">
                            <figcaption>Fig- Equipa de Futebol do Sporting Clube da Reboleira! </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-9 project-post">
                        <h1>Actividade!</h1><h4> </h4>
                        <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 23-09-2017</small></p><hr/>
                        <div class="post">
                        <h2> </h2>
                        <h3>O Sporting Clube da Reboleira e Damaia, tem tambêm como actividade o Futebol, participando no Campeonato Inatel Agência de Lisboa!</h3>
                        <img src="{{ '/images/index html page/taca.jpg' | prepend: site.baseurl }}" alt="Taça do Inatel" width="300px" height="200px">
                        <a href="https://screboleiradamaia.wixsite.com/sportingcrd/futebol" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
                        </div>
                    </div>
                    <div class="col-md-9 project-post">
                        <h1> </h1><h4> </h4>
                        <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> Click </small></p><hr/>
                        <div class="post">
                        <img src="{{ '/images/index html page/inatel.jpg' | prepend: site.baseurl }}" alt="" width="300px" height="200px">
                        <!--<a href="https://sportingcred.github.io/sportingcrdblog/news.html" target="_blank"><span class="label label-success">Calendário...</span></a>-->
                        </div>
                    </div>
                    </div>
                </div>
                <div class="project-box">
                    <div class="row">
                    <div class="col-md-3 project-image">
                        <!--<img src="{{ '/images/epoca2017-2018/Circuito_Atletismo_Barreiro/Circuito_Atletismo_Barreiro.jpg' | prepend: site.baseurl }}" alt="15 prova fragateiro" width="200px" height="125px">-->
                    </div>
                    <div class="col-md-9 project-post">
                        <h1>C.D Reguengo VS Sporting Clube Reboleira</h1><h4> </h4>
                        <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 26-09-2017</small></p><hr/>
                        <div class="post">
                        <h2> </h2>
                        <p></p>
                        <h3></h3>
                        <iframe width="400" height="250" src="https://www.youtube.com/embed/jwK-IcurbhE" frameborder="0" allowfullscreen></iframe>
                       <!-- <img src="{{ '/images/epoca2017-2018/Circuito_Atletismo_Barreiro/Circuito_Atletismo_Barreiro.jpg' | prepend: site.baseurl }}" alt="Circuito_Atletismo_Barreiro" width="700px" height="400px">
                        <a href="http://www.cm-barreiro.pt/pages/1321l" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>-->
                        </div>
                    </div>
                 <div class="col-md-9 project-post">
                       <!--<h1>Lista de Atletas que vão participar na prova! </h1><h4> </h4>
                        <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i></small> A adicionar </p><hr/>
                        <div class="post">
                        <img src="{{ '/images/site_images/doh_strip.jpg' | prepend: site.baseurl }}" alt="Simpson " width="500px" height="250px">-->
                        <h4><a href="#myGreeting"><span class="label label-danger light">Voltar para o topo...</span></a></h4>
                      
                    </div>
                 </div>
            </div>
        </div>
    <hr>
    </section>
<div class="container">
