  </div>
  <section class="smoothScroll" id="myGreeting">
  <div class="container">
    <div id="welcome-greeting" >
      <h1>Sporting Clube da Reboleira e Damaia!</h1>
      <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 23-07-2017</small></p><hr/>
      <iframe width="400" height="250" src="https://www.youtube.com/embed/A-Mf0vW9dos" frameborder="0" allowfullscreen></iframe>
      
      <h2>Bem vindos ao blog do <a href="https://screboleiradamaia.wixsite.com/sportingcrd/academia" target="_blank">Sporting Clube da Reboleira e Damaia!</a>,
      um blog que tem como objectivo englobar de uma maneira geral todas as actividades do clube entre elas o <a href="https://screboleiradamaia.wixsite.com/sportingcrd/academia" target="_blank">Atletismo</a>,
      <a href="https://screboleiradamaia.wixsite.com/sportingcrd/futebol" target="_blank"> Futebol</a> e <a href="https://screboleiradamaia.wixsite.com/sportingcrd/sala-da-musica" target="_blank">Cultura. </a>
      Nele constam um sem numero de características,
      tais como uma barra de navegação lateral fixa e uma imagem de vitrine onde constam algumas das muitas Taças que temos conquistado ao longo dos anos!.
      É tambem de fácil navegação. <br><br> Neste blog, irá encontrar alguns <a href="list.html"> blog posts</a>, (para ver o post mais recente basta carregar no botão "Saiba mais..." no meio da imagem acima) ou consulte a lista abaixo,
      links interessantes para outras páginas de que dispomos na net, e muito mais. Tambem irá encontrar várias formas de entrar em contacto connosco!</h2>
      <h4><a href="#mySede" class="smoothScroll"><span class="label label-danger light">Acerca da Sede do Clube.. </span></a></h4>
      <hr />
    </div>
  </div>
</section>
  <div class ="container">
     