<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand"><a href="{{ site.baseurl }}/index.html">
        <span><img src="{{ site.baseurl }}/images/scrd.png" /></span></a></p>

      <!--<p class="navbar-brand">{{ site.title }}</p>-->
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/list.html">Arquivo de Posts</a></li>
        <!--<li><a href="{{ site.baseurl }}/categories.html">Categorias</a></li>-->
        <li><a href="{{ site.baseurl }}/about.html">Sobre</a></li>
        <li><a href="{{ site.baseurl }}/news.html">Notícias</a></li>
        <li><a href="{{ site.baseurl }}/contact.html">Contacto</a></li>
        <li><a href="mailto:sportingcrd@hotmail.com">Envie-nos um email!</a></li>
        <hr/>
        <li><a href="{{ site.baseurl }}/atletismo.html">Atletismo</a></li>
        <li><a href="{{ site.baseurl }}/provas_de_atletismo.html">Provas de Atletismo</a></li>
        <li><a href="{{ site.baseurl }}/jose_duarte.html">Jose Durte</a></li>
        <li><a href="{{ site.baseurl }}/classificacoes_2017_2018.html">Classificações</a></li>
        <hr/>
        <li><a href="{{ site.baseurl }}/futebol.html">Futebol</a></li>
        <!--<li><a href="{{ site.baseurl }}/jornadas.html">Jogos de Futebol</a></li>-->
        <li><a href="{{ site.baseurl }}/resultados_de_jogos.html">Resultados</a></li>
        <li><a href="{{ site.baseurl }}/futebol_photos_gallery.html">Galeria</a></li>
        <hr/>
        <li><a href="#">Arquivo do Site</a></li>
        <hr/>
        <li><a href="#">Atletismo</a></li>
        <li><a href="{{ site.baseurl }}/atletas.html">Época 2016 - 2017</a></li>
        <hr />
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/index.html"><span>
      <img src="{{ site.baseurl }}/images/scrd.png" width="170px" height="150px"></img>
    </span><h1 class="brand"></h1></a></li>
    <hr />
    <li><a href="{{ site.baseurl }}/list.html">Arquivo de Posts</a></li>
<!--<li><a href="{{ site.baseurl }}/categories.html">Categorias</a></li>-->
    <li><a href="{{ site.baseurl }}/about.html">Sobre</a></li>
    <li><a href="{{ site.baseurl }}/news.html">Notícias</a></li>
    <li><a href="{{ site.baseurl }}/contact.html">Contacto</a></li>
    <li><a href="mailto:sportingcrd@hotmail.com">Envie-nos um email!</a></li>
    <hr/>
    <li><a href="{{ site.baseurl }}/atletismo.html">Atletismo</a></li>
    <li><a href="{{ site.baseurl }}/provas_de_atletismo.html">Provas de Atletismo</a></li>
    <li><a href="{{ site.baseurl }}/jose_duarte.html">Jose Durte</a></li>
    <li><a href="{{ site.baseurl }}/classificacoes_2017_2018.html">Classificações</a></li>
    <hr />
    <li><a href="{{ site.baseurl }}/futebol.html">Futebol</a></li>
    <!--<li><a href="{{ site.baseurl }}/jornadas.html">Jogos de Futebol</a></li>-->
    <li><a href="{{ site.baseurl }}/resultados_de_jogos.html">Resultados</a></li>
    <li><a href="{{ site.baseurl }}/futebol_photos_gallery.html">Galeria</a></li>
    <hr/>
    <li><a href="#">Arquivo do Site</a></li>
    <hr/>
    <li><a href="#">Atletismo</a></li>
    <li><a href="{{ site.baseurl }}/atletas.html">Época 2016 - 2017</a></li>
    <hr />
    <div id="social-wrapper">
      <li> <a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i> @twitter</a></li>
      <li> <a href="{{ site.gplus }}" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i> google+</a></li>
      <li> <a href="{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i> linkedin</a> </li>
     <!-- <li> <a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook-square"></i> facebook</a></li>-->
      <li> <a href="{{ site.github }}" target="_blank"><i class="fa fa-github-square"></i> github</a> </li>
      <li> <a href="{{ site.youtube }}" target="_blank"><i class="fa fa-youtube-play"></i> youtube</a> </li>
      <li> <a href="{{ site.wix }}" target="_blank"><i class="fa fa-trophy" aria-hidden="true"></i> academia</a> </li>
      <li> <a href="{{ site.bambuser }}" target="_blank"><i class="fa fa-podcast" aria-hidden="true"></i> bambuser</a></li>
      <li> <a href="{{ site.pinterest }}" target="_blank"><i class="fa fa-pinterest-square" aria-hidden="true"></i> pinterest</a></li>
      <li> <a href="{{ site.instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></i> instagram</a></li>
      <li> <a href="{{ site.myspace }}" target="_blank"><i class="fa fa-file-video-o" aria-hidden="true"></i></i> myspace</a></li>

      <hr/>

    </div>
  </ul>
</div>
