</div>
<section id="mySala_da_musica" class="smoothScroll">
        <div class="project-container">
            <h1>Sala da Musica</h1>
            <p>Ensino e outras actividades...</p>
            <br><center></center>
            </div>
            <div class="container">
            <div class="project-box">
                <div class="row">
                <div class="col-md-3 project-image">
                
                <img src="{{ '/images/sala_da_musica/mural.jpg' | prepend: site.baseurl }}" alt="Mural" width="200px" height="125px">
                </div>
                <div class="col-md-9 project-post">
                    <h1>Actividade!</h1><h4> </h4>
                    <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 23-09-2017</small></p><hr/>
                    <h2>Nesta Sub-Secção da secção de Cultura ensina-se Musica e pratica-se a Arte!</h2>
                    <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> Saiba Mais aqui...</small></p><hr/>
                    <div class="post">
                    <h2></h2>
                    <h3></h3>
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/BWwv63Ykmzg" frameborder="0" allowfullscreen></iframe>
                   <!-- <img src="{{ '/images/index html page/images.jpg' | prepend: site.baseurl }}" alt="" width="300px" height="200px">-->
                    <a href="https://screboleiradamaia.wixsite.com/sportingcrd/sala-da-musica" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
                    </div>
                </div>
                <div class="col-md-9 project-post">
                    <h1> </h1><h4> </h4>
                    <!--<p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> Consulte o Calendário clickando no link abaixo...</small></p><hr/>-->
                    <div class="post">
                    <img src="{{ '/images/sala_da_musica/images.jpg' | prepend: site.baseurl }}" alt="" width="300px" height="200px">

                    <a href="https://screboleiradamaia.wixsite.com/sportingcrd/sala-da-musica" target="_blank"><span class="label label-success">Veja Mais Aqui...</span></a>
                    </div>
                </div>
                </div>
            </div>
            <div class="project-box">
         <div class="row">
                <div class="col-md-3 project-image">
                    <img src="{{ '/images/sala_da_musica/images.jpg' | prepend: site.baseurl }}" alt="15 prova fragateiro" width="200px" height="125px">
                </div>
                <div class="col-md-9 project-post">
                    <h1>Uma pequena amostra das actividades da secção....</h1><h4> </h4>
                    <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 26-09-2017</small></p><hr/>
                    <div class="post">
                    <h2> </h2>
                    <p></p>
                    <h3></h3>
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/fMGw1XPukAQ" frameborder="0" allowfullscreen></iframe>
                   <!--<img src="{{ '/images/sala_da_musica/images.jpg' | prepend: site.baseurl }}" alt="Leão de Cabo-Verde" width="700px" height="400px">-->
                    <!--<a href="http://www.cm-barreiro.pt/pages/1321l" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>-->
                    </div>
                </div>
               <div class="col-md-9 project-post">
                   <!-- <h1>Lista de Atletas que vão participar na prova! </h1><h4> </h4>
                    <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i></small> A adicionar </p><hr/>
                    <div class="post">
                    <img src="{{ '/images/site_images/doh_strip.jpg' | prepend: site.baseurl }}" alt="Simpson " width="500px" height="250px">-->
                    <h4><a href="#myGreeting" class="smoothScroll"><span class="label label-danger light">Voltar para o topo...</span></a></h4>

                   <!-- </div>
                </div>-->
                </div>
            </div>
        <hr/>
        </section>
        <div class="container">
