</div>
<section id="mySeccaoCultura" class="smoothScroll">
        <div class="project-container">
            <h1>Secção de Cultura</h1>
            <p>Actividades Culturais</p>
            <br><center></center>
            </div>
            <div class="container">
            <div class="project-box">
                <div class="row">
                <div class="col-md-3 project-image">
                    <img src="{{ '/images/seccao_da_cultura/diversida_cultural.jpg' | prepend: site.baseurl }}" alt="Diversidade Cultural" width="200px" height="125px">
                </div>
                <div class="col-md-9 project-post">
                    <h1>Actividade!</h1><h4> </h4>
                    <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 23-09-2017</small></p><hr/>
                    <div class="post">
                    <h2> </h2>
                    <h3>O Sporting Clube da Reboleira e Damaia, tem como actividade secundária mas não menos importante, a Secção Cultural,
                         que engloba a Sala da Musica, onde se ensina a arte, se pratica o Xadrez, as Damas e se dá apoio escolar a crinças desfavorecidas com livros e outro material didáctico que é oferecido por sócios, vizinhos e amigos do Clube!</h3>
                    <img src="{{ '/images/seccao_da_cultura/etnias.png' | prepend: site.baseurl }}" alt="" width="300px" height="200px">
                    <a href="https://screboleiradamaia.wixsite.com/sportingcrd/miscelanea" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>
                    </div>
                </div>
                <div class="col-md-9 project-post">
                    <h1>Outras parcerias que a Secção de Cultura engloba... ! </h1><h4> A secção de Cultura colabora e têm como Colaboradores neste momento a banda "Lions Di Polon" que organiza
                     o Festival de Musica S.C.R.D que vai neste momento na 3ª-Edição...</h4>
                    <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> Click para ver mais..</small></p><hr/>
                    <div class="post">
                   <iframe width="500" height="300" src="https://www.youtube.com/embed/CBDmowLV2Oo" frameborder="0" allowfullscreen></iframe>
                   
                    <a href="https://myspace.com/sportingcrd/videos" target="_blank"><span class="label label-success">Veja Mais Aqui...</span></a>
                    </div>
                </div>
                </div>
            </div>
            <div class="project-box">
                <div class="row">
                <div class="col-md-3 project-image">
                    <!--<img src="{{ '/images/seccao_da_cultura/etnias.png' | prepend: site.baseurl }}" alt="Etnias" width="200px" height="125px">-->
                </div>
                <div class="col-md-9 project-post">
                    <h1></h1><h4> </h4>
                    <!--<p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i></small></p><hr/>-->
                    <div class="post">
                    <h2> </h2>
                    <p></p>
                    <h3></h3>
                    <!--<iframe width="480" height="270" src="https://www.youtube.com/embed/riL58p5BLxM" frameborder="0" allowfullscreen></iframe>-->
                   <!-- <img src="{{ '/images/epoca2017-2018/Circuito_Atletismo_Barreiro/Circuito_Atletismo_Barreiro.jpg' | prepend: site.baseurl }}" alt="Circuito_Atletismo_Barreiro" width="700px" height="400px">
                    <a href="http://www.cm-barreiro.pt/pages/1321l" target="_blank"><span class="label label-success">Saiba mais aqui...</span></a>-->
                    </div>
                </div>
               <div class="col-md-9 project-post">
                   <!-- <h1>Lista de Atletas que vão participar na prova! </h1><h4> </h4>
                    <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i></small> A adicionar </p><hr/>
                    <div class="post">
                    <img src="{{ '/images/site_images/doh_strip.jpg' | prepend: site.baseurl }}" alt="Simpson " width="500px" height="250px">-->
                    <h4><a href="#myGreeting" class="smoothScroll"><span class="label label-danger light">Voltar para o topo...</span></a></h4>

                   <!-- </div>
                </div>-->
                </div>
            </div>
        <hr/>
        </section>
        <div class="container">
