</div>
<section class="smoothScroll" id="mySede">

  <div class="container">
    <div id="welcome-greeting">
      <h1>Sede do Sporting Clube da Reboleira!</h1>
      <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 23-07-2017</small></p><hr/>
      <figure>
          <img src="{{ '/images/site_images/sede.jpg' | prepend: site.baseurl }}" alt="Foto de taças do Clube" width="600px" height="300px">
           <figcaption>Fig- Sede do Sporting Clube da Reboleira e Damaia! </figcaption>
      </figure>
      <h2>Como consta na figura acima, mostruários de taças são muitas das coisas que,
      irá encontrar na sede do nosso clube, para alêm de uma Sala de Convívio,
      onde pode contar com a Solidariedade e boa disposição, dos amigos e sócios do e onde pode tambêm disfrutar de um Bar,
      na Cave do Clube para alêm da Secção da Direcção e da  <a href="#atletismo" class="smoothScroll" >Secção de Atletismo</a>, irá encontrar tambêm a <a href="#mySeccaoCultura" class="smoothScroll"> Secção de Cultura</a>, que engloba a <a href="#mySala_da_musica" class="smoothScroll"> Sala da Música</a>,
      onde se dá Aulas de Música e se pratica a Arte para alem de outras actividades Culturais!<br></br>
      O Clube tambêm se dedica ao <a href="#futebol" class="smoothScroll" >Futebol 11</a>,
      participando no Campeonato Inatel Agência de Lisboa! </h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1555.8023069156732!2d-9.222531526937864!3d38.74983445668942!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2spt!4v1485842258300" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen="true"></iframe>

      <h4><a href="#myGreeting" class="smoothScroll"><span class="label label-danger light">Voltar para o topo.. </span></a></h4>
      <hr />
    </div>
  </div>
</section>
<div class ="container">
