<!-- Code for Twitter share button -->
<a href="https://twitter.com/share" class="twitter-share-button " data-size="small" data-count="none">Tweet</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],
  p=/^http:/.test(d.location)?'http':'https';
  if(!d.getElementById(id)){js=d.createElement(s);
    js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
    fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<!-- end twitter -->

<!-- Code for google + share button -->

<div id="g-plusone-root"></div>
<!--<div class="g-plusone" data-annotation="inline" data-width="300"></div>-->
<div class="g-plusone" data-annotation="inline" data-width="370"></div>

<!-- code for linkedin share button -->
<div id="linkedin-root"></div>
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: pt_BR</script>
<script type="IN/Share" data-counter="right"></script>
<!-- end linkedin -->
<!-- end google + -->

<!-- Code for facebook share button -->
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Your share button code -->
<div class="fb-share-button"
  data-href="https://sportingcred.github.io/sportingcrdblog{{ page.url }}"
  data-layout="button_count">
</div>


<!-- end facebook -->
<!-- end Code for facebook share button -->
